body{
	font-family: Georgia, serif;
}
a:link, a:visited{
	color: #737373;
	text-decoration: none;
}
a:hover{
	color: #69b42d;
	text-decoration: none;
}
h1{
	font-size: 27px;
	margin: 10px 15px 5px 15px;
	text-shadow: 1px 1px #cccccc;
	text-align: center;
	color: #69b42d;
}
h2{
	font-size: 25px;
	margin-bottom: -10px;
	color: #69b42d;
}
h3{	color: #69b42d;
}
p{
	font-size: 17px;
	line-height: 1.5;
}
#wrap{
	width: 960px;
	margin: auto;
	padding: 10px 20px;
}
header nav ul{
	list-style: none;
	margin: auto;
     	padding: 0;
     	overflow: hidden;
     	width: 85%;
}
header nav ul li{
	display: inline-block;
	margin: 0 15px 20px 15px;
	font-size: 19px;
	font-weight: bold;
	text-shadow: 1px 1px #cccccc;
	text-align: center;
	color: #69b42d;
}
header nav ul li a{
	font-size: 19px;
	font-weight: bold;
	text-shadow: 1px 1px #cccccc;
}
#conteudo li{
	margin-bottom: 15px;
	line-height: 1.5;
}

#content{
	margin-left: 155px;
	width: 660px;
}
footer{
	clear: both;
}
.button {
	background-color:#69b42d;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.button:hover {
	background-color:#76e51d;
	color: #ffffff;
}
.button:active {
	position:relative;
	top:1px;
}
a.button
{
	color: #ffffff;
}
.coronagif {
	width: 5px;
}
